body,table{
	margin:auto;
	text-align:center;
	//background-image: url("bg.jpg");
	background-size:cover;
}
table{
	background-color:black;
	color:white;
}tr,td{
	width:10vw;
	height:20vh;
	margin:auto;
	text-align:center;
    border-width:5px;	
    border-style:ridge;
	margin:0;
	padding:25;
	font-size:5vw;
}tr{
	transition-duration: 1s;
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-duration: 1s; /* Safari 和 Chrome */
	-o-transition-duration: 1s; /* Opera */
	cursor: pointer;
}
td:hover{
    border-color: yellow;
}
