body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100%;
  text-align:center;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80vw;
  height:80vh;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:10vw;
  top:10vh;
  width:300px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u2 {
  position:absolute;
  left:50vw;
  top:50vh;
  width:50px;
  height:40px;
  margin-left:-25px;
  margin-top:-20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
